# Node
node_modules/

# Python
__pycache__/
*.pyc
venv/

# ML generated
ml_service/reports/
ml_service/uploads/

ml_service/data/
ml_service/*.csv

# Env
.env
.env.*
# ML models
ml_service/models/*.pkl