
fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
optuna
joblib
pydantic
python-multipart
matplotlib
seaborn
fastapi 
uvicorn 
python-multipart 
numpy
 pandas 
 scikit-learn 
 sentence-transformers
  faiss-cpu 
  pypdf